asgiref==3.11.1
attrs==26.1.0
autobahn==24.4.2
automat==25.4.16
cffi==2.0.0
constantly==23.10.4
cryptography==49.0.0
django==4.2.30
hyperlink==21.0.0
idna==3.18
incremental==24.11.0
mysqlclient==2.2.7
numpy==2.0.2
opencv-python==4.13.0.92
packaging==26.2
pycparser==2.23
pyjwt==2.13.0
pyopenssl==26.3.0
pyyaml==6.0.3
roslibpy==2.0.0
service-identity==26.1.0
setuptools==82.0.1
sqlparse==0.5.5
tomli==2.4.1
twisted==26.4.0
txaio==23.6.1
typing-extensions==4.15.0
zope-interface==8.0.1
